* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    display: flex;
    font-family: "Helvetica", sans-serif;
}

.box {
    background-color: white;
    /* max-width: 600px; */
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px rgba(176, 172, 172, 0.5);
    width: 560px;
}

h1 {
    margin: 0px auto;
}

p {
    padding: 20px 0px 10px 0px;
}

.bill {
    margin: 6px 0px auto;
}

.billAmt {
    padding: 10px;
    border: 1px solid;
    border-color: #b2b0b0;
    border-radius: 4px;
    margin: 10px 0px;
}

.tipAmt {
    padding: 10px;
    border: 1px solid;
    border-color: #b2b0b0;
    border-radius: 4px;
    margin: 10px 0px;
}

button {
    padding: 11px;
    border: 0px solid;
    margin: 15px 0px;
    font-size: large;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: #2e8a33;
}
span{
    font-size: 24px;
    font-weight: bold;
    padding-left: 5px;
    /* margin-top: 10px; */
}
.block{
    display: flex;
}